*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# editor config files
.idea
.vscode
*.code-workspace

# misc
setup_env.sh
play.ipynb
experiments/*
